<p class="score-small-header">{{player}}</p>
<h1 class="score-points score-big-header ">{{total}}</h1>
<hr style="width: 100%">
{{#each moves as |move|}}
  {{#each move.scores as |score|}}
    <div class="layout__box o__has-columns o__centers-vertically">
      <h1 class="score-points {{unless move.completedAt 'uncompleted'}}">{{score.points}}</h1>
      {{#each score.letters as |letterInfo|}}
        <div class="letter-stand-cell score-cell o__{{letterInfo.special}}">
          {{letterInfo.letter}}
          {{letter-points letter=letterInfo.letter}}
        </div>
      {{/each}}
    </div>
  {{/each}}
{{/each}}
