<div class="layout__box o__flexes-to-1 o__has-columns">
  {{game-board}}
  <div class="layout__box o__flexes-to-1 o__has-rows">
    <div class="layout__box o__flexes-to-1 o__centers-horizontally">
      {{opponent-webcam}}
    </div>
    <div class="layout__box o__flexes-to-1 o__has-rows  o__scrolls">
      <div class="layout__box o__has-columns o__flexes-to-1">
        {{scores-list moves=gameState.playerMoves player="You"}}
        {{scores-list moves=gameState.opponentMoves player="Them"}}
      </div>
    </div>
    <button class="ui inverted button" onclick={{action "completeMove"}}>
      {{#if gameState.isPlayerMove}}
        Finish turn
      {{else}}
        Waiting for turn...
      {{/if}}
    </button>
    <div class="layout__box o__centers-horizontally">
      {{letter-stand}}
    </div>
  </div>
</div>
